/* Empty. Add your own CSS if you like */

/*Logo*/
.bar .title {
	margin-top: 5px;
}


.content-main {
	background: #1d093d url(../img/background.png) bottom center no-repeat;
	background-size: cover;
}

.content-main form {
	padding: 30px;
}

.content-lower {
	padding: 15px 15px 5px 15px;
    background: rgba(255,255,255,.2);
    margin: 20px 20px 40px 20px;
    color: white;
}

.page-title {
	padding: 10px;
    background: #680148;
    margin-bottom: 0;
    font-size: 18px;
    letter-spacing: 0.038em;
}

.item-toggle {
	margin: 25px 0;
	background: #680148;
	color: white;
	border-radius: 3px;
	border-color: #4f0137;
}

/*Forms*/
form {
	color: white;
}

.form-group.vertical {
	margin-bottom: 15px;
	position: relative;
}

.form-group.vertical label {
	display: block;
	padding: 5px 0;
	font-size: 18px;
}

.input-group {
	position: relative;
}

input[type=text] {
	border: 1px solid #999;
	font-size: 18px;
	border-radius: 3px;
	width: 100%;
	padding: 4px 8px 4px 8px;
	display: inline;
	height: 40px;
	padding-right: 60px;
}

button.geolocate, 
button.geolocate.activated {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
    width: 50px;
    height: 40px;
    background: #7db4b5;
    color: white;
    border: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
	z-index: 10;
}

form#form-start input[type=text] {
	float: left;
}

button span.ion-icon {	
	font-size: 24px;
}

.rh-button {
	width: 100%;
	margin-top: 15px;
	color: #fff;
	background-color: #7db4b5;
}

.rh-button:hover {
	color: white;
}

.rh-button.activated {
	background-color: #5da1a3;
}

/*Tabs Color*/
.tabs-color-rh a {
	color: #1d093d;
}

.tabs {
	height: 67px;
	padding: 10px 0;
}

.hub-list {
	display: relative;
}

.hub-list h1,
.hub-list .badge {
	position: absolute;
	top: 50%;
	margin-top: -25px;
	left: 10px;
	width: 50px;
	height: 50px;
	background-color: #1d093d;
	border-radius: 50%;
	text-align: center;
	color: white;
	font-size: 16px;
	padding-top: 10px;
}

.hub-list .badge span {
	display: block;
	width: 100%;
}

.item .badge p {
    color: white;
    font-size: 9px;
    text-transform: uppercase;
    letter-spacing: 0.07em;
}

.pane h3 {
	color: #fff;
}

.hub-list-item h3,
.hub-list-item p {
	padding-left: 15px;
	padding-right: 15px;
}

.hub-list-item h3 {
	margin-bottom: 10px;
}

.hub-list-item p {
	margin-bottom: 7px;
}

.hub-list-item p:first-of-type {
	margin-top: 20px;
}

.hub-list-item p:last-of-type {
	margin-bottom: 20px;
}

.hub-list-item img,
.img-responsive {
	width: 100%;
	max-width: 100%;
	height: auto;
	display: block;
}

.item-select select {
	background: #eee;
	direction: rtl;
}

.item-select option {
	direction: rtl;
}