<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{chat.name}}">
  <ion-nav-bar side="left">
    <a class="button button-clear button-icon icon ion-chevron-left" ui-sref="tab.dash"></a>
  </ion-nav-bar>

  <ion-content class="hub-list-item">
    <div style="max-height: 140px; overflow: hidden">
      <img src="img/hub0.png">
    </div>
    <h3 class="page-title" style="margin-top:0;">{{chat.name}}</h3>
    <p>Start Point: <strong>{{chat.address}}</strong></p>
    <p>End Point: <strong>{{chat.endPoint}}</strong></p>
    <p>Leave at: <strong>{{chat.leaveTime}}</strong></p>
    <p>Arrive by: <strong>{{chat.arriveTime}}</strong></p>
    <p>Ride duration: <strong>{{chat.duration}} minutes</strong></p>
    <p>Distance: <strong>{{chat.distance}} miles</strong></p>
    <img src="img/map0.png" class="img-responsive">
  </ion-content>
</ion-view>
