<ion-view view-title="Dashboard" ng-controller="DashCtrl as vm" class="content-main">

  <ion-content >
    <form ng-submit="vm.findHubs()" >
    	<div class="form-group vertical">
	      <label for="startFrom">Start From:</label>
      	<div class="input-group">
		      <input type="text" name="startAt" size="40" ng-model="vm.search.startAt"/>
		      <button type="button" class="geolocate" ng-click="vm.geolocate('start')"><span class="ion-icon ion-android-pin"></span></button>
		    </div>
	    </div>

		<div class="form-group vertical">
	      <label for="goingTo">Going To:</label>
      	<div class="input-group">
		      <input type="text" name="arriveAt" ng-model="vm.search.arriveAt"/>
		      <button type="button" class="geolocate" ng-click="vm.geolocate('arrive')"><span class="ion-icon ion-android-pin"></span></button>
		    </div>
	     </div>
       <ion-toggle  ng-model="vm.scheduleRide">
           Schedule Ride
       </ion-toggle>
      <div ng-show="vm.scheduleRide">
       <div class="form-group vertical">
   	      <label for="startFrom">Ride Date:</label>
         	<div class="input-group">
   		      <input type="text" name="travelDate" size="40" ng-model="vm.search.travelDate"/>
   		    </div>
   	    </div>
        <br>
        <div class="list">
           <label class="item item-input item-select">
              <div class="input-label">
                {{vm.search.timingType}}
              </div>
              <select ng-model="vm.search.timingType" ng-init="vm.search.timingType = 'Arrive'">
                <option ng-value="Arrive">Arrive</option>
                <option ng-value="Leave">Leave</option>
              </select>
            </label>
        </div>

        <div class="form-group vertical">
         <label for="startFrom">No Earlier Than:</label>
         <div class="input-group">
           <input type="text" name="earliestArrival" size="40" ng-model="vm.search.earliestArrival"/>
         </div>
       </div>
       <div class="form-group vertical">
        <div class="input-group">
           <label for="startFrom">No Later Than:</label>
          <input type="text" name="latestArrival" size="40" ng-model="vm.search.latestArrival"/>
        </div>
      </div>
      <ion-toggle  ng-model="vm.search.recurring">
          Recurring
      </ion-toggle>
    </div>


	     <div class="form-group vertical">
	     	<button type="submit" class="button rh-button">Find a Hub</button>
	     </div>
    </form>
  </ion-content>
</ion-view>
