<ion-view view-title="Chats" class="content-main">
  <ion-content>
  <h3 class="page-title">Available Hubs</h3>
    <ion-list class="hub-list">
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/dash/results/{{chat.id}}">
        <div class="badge">
          <span>{{chat.duration}} <p>mins</p></span>
        </div>
        <h2>{{chat.name}}</h2>
        <p>{{chat.address}}</p>
        <p>To: <strong>{{chat.endPoint}}</strong></p>
        <p>Ride: <strong>{{chat.leaveTime}}</strong> - <strong>{{chat.arriveTime}}</strong></p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
    <div class="content-lower">
      <p>Don't see a hub that works for you? Create your own &amp; invite neightbors to join you!</p>
      <div class="form-group vertical">
        <input type="submit" class="button rh-button" value="Start a Hub" ng-click="createHub()">
      </div>
  </div>
  </ion-content>
</ion-view>
