/* Empty. Add your own CSS if you like */

/*Logo*/
.bar .title {
	margin-top: 5px;
}

h1, h2, h3, h4, h5, h6, 
.h1, .h2, .h3, .h4, .h5, .h6 {
	color: #fff;
}

.pane {
	background: #1d093d;
}

.content-main {
	padding: 30px;
	background: url(../img/background.png) bottom center no-repeat;
	background-size: cover;
}

/*Forms*/
form {
	color: white;
}

.form-group.vertical {
	margin-bottom: 15px;
	position: relative;
}

.form-group.vertical label {
	display: block;
	padding: 5px 0;
	font-size: 18px;
}

.input-group {
	position: relative;
}

input[type=text] {
	border: 1px solid #999;
	font-size: 18px;
	border-radius: 3px;
	width: 100%;
	padding: 4px 8px 4px 8px;
	display: inline;
	height: 40px;
	padding-right: 60px;
}

button.geolocate, 
button.geolocate.activated {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
    width: 50px;
    height: 40px;
    background: #7db4b5;
    color: white;
    border: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
	z-index: 10;
}

form#form-start input[type=text] {
	float: left;
}

button span.ion-icon {	
	font-size: 24px;
}

.rh-button {
	width: 100%;
	margin-top: 15px;
	color: #fff;
	background-color: #7db4b5;
}

.rh-button:hover {
	color: white;
}

/*Tabs Color*/
.tabs-color-rh a {
	color: #1d093d;
}

.tabs {
	height: auto;
	padding: 10px 0;
}

.hub-list {
	display: relative;
}

.hub-list h1 {
	position: absolute;
	width: 56px;
	height: 56px;
	background-color: royalblue;
	border-radius: 28px;
	margin-left: -64px;
	margin-top: -8px;
	text-align: center;
	color: white;
	font-size: 28px;
	padding-top: 10px;
}