<ion-view view-title="Dashboard" ng-controller="DashCtrl as vm">
  <ion-content class="padding">
    <h2>Hubs</h2>
    <form id="form-start" name="vm.searchForm" ng-submit="vm.search()">
      <h3>Start from:</h3>
      <input type="text" name="startAt" required size="40" ng-model="vm.startAt"/><button class="geolocate" ng-click="vm.geolocate('start')"><span class="ion-icon ion-android-pin"></span></button>
      <br>
      <h3>Going to:</h3>
      <input type="text" name="arriveAt" required ng-model="vm.arriveAt"/><button class="geolocate" ng-click="vm.geolocate('arrive')"><span class="ion-icon ion-android-pin"></span></button>
      <br>
      <div>
        <h3>Ride Date:</h3>
        <input type="text" data-ng-model='vm.travelDate'></input>
      </div>
      <div>
        <h3>Earliest Time:</h3>
        <input type="text" data-ng-model='vm.earliestArrival' data-lng-clockpicker data-lng-clockpicker-options='vm.timeOptions'></input>
      </div>
      <div>
        <h3>Latest Time:</h3>
        <input type="text" data-ng-model='vm.latestArrival' data-lng-clockpicker data-lng-clockpicker-options='vm.timeOptions'></input>
      </div>
      <div>
        <select>
          <option>Arrive</option>
          <option>Leave</option>
        </select>
      </div>
      <br>
      <br>
      <br>
      <button type="submit" class="button button-balanced">Go</button>
    </form>
  </ion-content>
</ion-view>
