<ion-view view-title="Chats">
  <ion-content class="content-main">
  <h3 class="page-title">Available Hubs</h3>
    <ion-list class="hub-list">
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <div class="badge">{{chat.distance}}</div>
        <h2>{{chat.name}}</h2>
        <p>{{chat.address}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
